:root {
  --primary-color: #2f2fc9;
}

* {
  margin: 0;
  box-sizing: border-box;
}


h1 {
  font-family: "Enriqueta", arial, serif;
  line-height: 1.25;
  margin: 0 0 10px;
  font-size: 40px;
  font-weight: bold;
}

p {
  color: #333333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5625;
  margin-bottom: 15px;
}

body {
  font-family: serif;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.navigate-link {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 50px;
  margin-right: 150px;
  font-size: 24px;
  font-style: italic;
}

.logo {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 2.5rem;
  font-style: italic;
  text-decoration: none;
  color: white;
  margin-left: 100px;
  margin-top: 50px;
}

.nav-link {
  margin-right: 3rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.nav-link:hover {
  color: red;
}

.entry {
  display: flex;
  margin-top: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  color: #fff;
}

.entry h1 {
  margin-bottom: 0;
  font-size: 48px;
}

.entry p {
  margin-top: 10px;
  font-size: 32px;
  color: white;
}

.entry button {
  border: 2px solid white;
  font-size: 24px;
  color: white;
  border-radius: 20px;
  background: none;
  width: 200px;
  height: 50px;
}

.entry button:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(0.98);
}

.landing-page {
  background-image: url(../images/cool_image.jpg);
  background-size: cover;
  height: 100vh;
}

/* ABOUT SCREEN */

.about-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 50px;
  padding-top: 100px;
  background-color: bisque;
}

.about-title {
  font-size: 48px;
  font-weight: 700; 
  margin-bottom: 100px;
}

.about-info {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  gap: 40px;
}

.about-image {
  width: 300px;
  height: 400px;
}

.about-image img {
  width: 100%;
}

.description {
  width: 600px; 
}

.description p {
  width: 100%;
}


.about-info h1 {
  font-size: 32px;
  font-weight: 700;
}

.description p {
  font-size: 20px;
}

.contact-button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

.contact-button:hover {
  padding: 9.5px 19.5px;
  background-color: rgb(61, 61, 221);
}

/* CONTACT SCREEN */

.contact-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 100px;
}

.contact-title {
  text-align: center;
  justify-content: center;
  padding: 0px 50px 20px 50px;
}

.contact-title h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 100px;
}

.contact-title p {
  font-size: 1.5rem;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  margin: 0px 40px 20px 40px;
}

.contact-info {
  width: 40%;
  padding: 30px 30px 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}

.contact-box {
  display: flex;
  width: 100%;
  align-items: center;
}

.contact-icon {
  width: 50px;
  height: 50px;
  margin-right: 30px;
}

.contact-box-detail {
  margin-top: 20px;
}

.contact-box-detail h4 {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.contact-box-detail p {
  margin-top: 10px;
  font-size: 16px;
}

.contact-form {
  width: calc(100% - 400px);
  padding: 50px 50px 50px 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}

.row {
  display: flex;
  width: 100%;
}

.input50 {
  width: 50%;
  margin: 0 10px;
}

.input100 {
  width: 100%;
  margin: 0 10px;
}

.input50 input,
.input100 textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  resize: none;
  margin: 10px 0;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.input50 input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

.input100 textarea {
  height: 150px;
}

.input100 button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  color: white;
  background-color: var(--primary-color);
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.input100 button:hover {
  background-color: rgb(61, 61, 221);
}

@media only screen and (max-width: 1080px) {
  .contact-screen {
    padding: 0;
    padding-top: 100px;
  }

  .contact,
  .row {
    flex-direction: column;
  }

  .contact-info,
  .contact-form,
  .input50 {
    width: 100%;
  }

  .about-screen {
    display: flex;
    flex-direction: column;
  }

  .about-info {
    flex-direction: column;
  }

  .description {
    width: 100%;
  }
  
}
